<section class="flex-container">
  <div class="row">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Bienvenido a la tienda de Inmuebles</mat-card-title>
            <mat-card-subtitle>Venta de inmuebles para forma tu hogar!</mat-card-subtitle>
        </mat-card-header>
        <img matCardImage src="assets/images/pexels.jpg" alt="Inmuebles" class="responsive-image">
        <mat-card-content>
          <p>Encuentra la casa de tus sueños con nosotros. Ofrecemos una amplia variedad de inmuebles para todos los gustos y presupuestos.</p>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-raised-button color="primary" class="contact-button">Contactar</button>
        </mat-card-actions>
        <mat-card-footer class="footer-style">
            &copy; Luis Angel
        </mat-card-footer>
    </mat-card>
  </div>
</section>
